@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@400;700&display=swap");

:root {
  --darkgray: #212329;
  --green: #009879;
  --white: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Encode Sans Expanded", sans-serif;
}

.nav-container {
  width: 100%;
  background-color: var(--darkgray);
}

.navbar {
  display: grid;
  grid-template-columns: 0.2fr auto 1fr;
  align-items: center;
  height: 80px;
  width: 90%;
  max-width: 1720px;
  margin: 0 auto;
}

#navbar-logo {
  color: white;
  justify-self: start;
  margin-left: 20px;
  font-size: 1.5rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(3, auto);
  list-style: none;
  text-align: center;
  width: 70%;
  justify-self: end;
}

.nav-link {
  color: white;
  text-decoration: none;
}

.nav-link:hover {
  color: var(--green);
  transition: all 0.2s ease-out;
}

.nav-links-btn {
  background-color: var(--green);
  padding: 6px 16px;
  border-radius: 4px;
}

.nav-links-btn:hover {
  background: transparent;
  padding: 5px 15px;
  border-radius: 4px;
  border: solid 1px var(--green);
  transition: all 0.3s ease-out;
}

span {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .nav-container {
    padding-bottom: 40px;
  }

  .nav-links-btn {
    width: 100px;
  }
}
